.carouselitem{
display: flex;
flex-direction:column;
align-items: center;
justify-content: center;
/* border:4px solid green; */
/* height: 30%; */
margin: 2em;
}
.link {
    color: inherit;
    text-decoration: inherit;
}
img{
    /* border: 3px solid blue; */
    height: 5em;
}
.gold{
    color: rgb(225, 223, 199);
}