.chartbtnloadetc{
    display: flex;
    flex-direction:'row' ;
    width: 90%;
    border-top:5px solid  rgba(185, 179, 179, 0.909);
    padding-top: 2em;
    /* border: 2px solid green; */
    margin: auto; 
    margin-top: 2em; 
}

select{
    height: 30px;
    position:relative;
    /* border:2px solid red; */
    color: rgb(255, 255, 255);
    /* background-color: rgba(98, 98, 98, 0); */
    background: transparent;
    top:0px;
    right:3.8em;
    outline: none;
    
}
option{
    background-color:black;
    color: rgb(255, 255, 255);
    text-align: center;

}

.CircularProgress{
margin: auto;
}




@media only screen and (max-width: 600px) {

    select{
        height: 20px;
       font-size: smaller;
        
    }
    option{
        font-size: smaller;
    
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  
    .chartbtnloadetc{
        width: 60%; 
        border-left:5px solid  rgba(185, 179, 179, 0.909); 
        padding-left: 2em;
        border-top: none;
    }
    
}